body * {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,1fr);
    background-image:linear-gradient(12deg,#499ED7, #499ED7);
    color: rgb(250, 248, 248);
}

.grid div {
    background-color: transparent;
    padding: 1em;
}
/*
.grid div:hover{
    border: 1px solid rgb(230, 137, 15);
}
*/
.element1{
    grid-column: 1/4;
}
.element2{
    grid-column: 1/4;
    margin:0%;
    padding: 0% !important;
}
.element3{
    grid-column: 1/3;
}
.element4{
    grid-column: 3/4;
    margin-left: auto;
}
.element5{
    grid-column: 1/4;
    padding-top: 0% !important;
}

.element6{
    grid-column:1/4
}
.element7{
    grid-column: 1/4
}
.Logo{
    width: 10%;
}

.header{
display: flex;
margin-left: 200px;
margin-bottom: 0%;
}

.header h1, h5{
    margin: auto 45px;
}

.nav {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0%;
    display:flex;
    justify-content: center;
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.1) 100%
    );
    border-radius: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 6px;
    box-shadow: rgba(255, 255, 255, 0.5) -20px -20px 45px inset,
        rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;

}

.nav div{
    margin: 0% 3%;
    border-radius: 5%;
}   
.nav div:hover{
    background-color: #499ED7;
}

nav div li a{
    color: #fff;
}
nav div li a:link, a:visited, a:active {
    text-decoration:none;
}

.main{
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.1) 100%
    );
    border-radius: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 6px 15px;
    box-shadow: rgba(255, 255, 255, 0.5) -20px -20px 45px inset,
        rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;
}
.aside{
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.1) 100%
    );
    border-radius: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 6px 200px;
    box-shadow: rgba(255, 255, 255, 0.5) -20px -20px 45px inset,
        rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;
}
.aside div{
    margin: 0% 0%;
    border-radius:5%;
}
.aside div:hover{
    background-color: #499ED7;
}

.registros{
    
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.1) 100%
    );
    border-radius: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 6px 200px;
    box-shadow: rgba(255, 255, 255, 0.5) -20px -20px 45px inset,
        rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;
}
section{
    font-size: 85%;
}

.tdatos{
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}